# Seguridad: NUNCA subir variables de entorno, contraseñas o archivos de configuración con información sensible
.env

# Entornos virtuales
venv/
.venv/
env/

# Datos (evita subir archivos de datos grandes o sensibles)
data/

# Archivos temporales de Python
__pycache__/
*.pyc
.ipynb_checkpoints/